services:
  php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    volumes:
      - .:/app
      - /app/vendor
      - /app/var
    working_dir: /app
    depends_on:
      - database
      - rabbitmq
      - redis
    environment:
      - APP_ENV=${APP_ENV:-dev}
      - DATABASE_URL=postgresql://${POSTGRES_USER:-app}:${POSTGRES_PASSWORD:-!ChangeMe!}@database:5432/${POSTGRES_DB:-app}
    ports:
      - "8000:8000"

###> doctrine/doctrine-bundle ###
  database:
    image: postgres:${POSTGRES_VERSION:-16}-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-app}
      # You should definitely change the password in production
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-!ChangeMe!}
      POSTGRES_USER: ${POSTGRES_USER:-app}
    volumes:
      - database_data:/var/lib/postgresql/data:rw
      # You may use a bind-mounted host directory instead, so that it is harder to accidentally remove the volume and lose all your data!
      # - ./docker/db/data:/var/lib/postgresql/data:rw
###< doctrine/doctrine-bundle ###

  rabbitmq:
    image: rabbitmq:${RABBITMQ_VERSION:-3.13}-alpine
    ports:
      - "5672:5672"  # RabbitMQ default port
      - "15672:15672"  # RabbitMQ management UI port
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq  # Persist data

  redis:
    image: redis:${RABBITMQ_VERSION:-7.2}-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - ./data:/data
    restart: always

volumes:
###> doctrine/doctrine-bundle ###
  database_data:
###< doctrine/doctrine-bundle ###
  rabbitmq_data:
